extends "admin/master.html"
{% import 'admin/lib.html' as lib with context %}

block head
    {{ super() }}
    {{ lib.form_css() }}
    link(rel="stylesheet", href="{{ url_for('bower', filename='highlightjs/styles/monokai_sublime.css') }}")
    link(rel="stylesheet", href="{{ url_for('css_static', filename='admin/entry.css') }}")

block body
    block navlinks
        ul.nav.nav-tabs
            li: a(href="{{ return_url }}") {{ _gettext('List') }}
            li.active: a(href="javascript:void(0)") {{ _gettext('Create') }}
    form(action="{{ url_for('.create_view') }}", method="POST", role="form", class="form-horizontal", enctype="multipart/form-data")
        div#editor
            {{ lib.render_form_fields(form, form_opts=form_opts) }}
        {{ lib.render_form_buttons(return_url) }}


block tail
    {{ super() }}
    {{ lib.form_js() }}
    script(src="{{ url_for('bower', filename='vue/dist/vue.min.js') }}")
    script(src="{{ url_for('bower', filename='marked/lib/marked.js') }}")
    script(src="{{ url_for('bower', filename='jquery-autosize/jquery.autosize.min.js') }}")
    script(src="{{ url_for('bower', filename='highlightjs/highlight.pack.js') }}")
    script(src="{{ url_for('js_static', filename='preview.js') }}")
