//
// Content
// --------------------------------------------------

.container
  max-width: $medium-screen
  margin: 0 auto 0
  padding: 28px 28px 0
  +media($medium-screen)
    padding: 10px 10px 0
    margin: 60px auto 0
