//
// Global header
// --------------------------------------------------

.gheader
  margin: 30px auto 10px
  max-width: $medium-screen
  padding: 28px 28px 0
  +media($medium-screen)
    padding: 10px 10px 0
    margin: 80px auto 0

.gheader__title
  font-family: $font-webfont
  font-size: 32px
  text-align: center
  margin: 0 0 20px 0
  +media($medium-screen)
    font-size: 40px

.gheader__title a
  color: $header-text-color

.gheader__subtitle
  font-family: $font-webfont
  font-size: 16px
  text-align: center
  color: $text-light-color
