{% extends "layout.html" %}

{% block body %}
<article class="content">

  <header class="header">
    <h2 class="header__title">Login Form</h2>
  </header>

  <section class="login">
    <form method="post" name="login">
      {{ form.hidden_tag() }}
      <dl>
        <dt>E-mail</dt>
        <dd>{{ form.email }}</dd>
        <dt>Password</dt>
        <dd>{{ form.password }}</dd>
        <dd><input type="submit" value="Login"></dd>
      </dl>
    </form>
  </section>

</article>
{% endblock %}
