extends "layout.jade"
block body
  article.content
    header.login
      h2 Login Form
    section.login
      form(method='post', name='login')
        {{form.hidden_tag()}}
        dl
          dt Username
          dd: {{form.username}}
          dt Password
          dd: {{form.password}}
          dd: input(type='submit', value='Login')
