{% extends "layout.html" %}

{% block socialinfo%}
<head prefix="og: http://ogp.me/ns#  website: http://ogp.me/ns/website#">
  <title>{{ title }} - {{ config.site_title }}</title>
  <meta name="description" content="{{ config.site_subtitle }}">

  {% if config.ogp_app_id %}
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ request.url }}">
  <meta property="og:image" content="{{ url_for('img_static', filename='ogp.png', _external=True) }}">
  <meta property="og:site_name" content="{{ config.site_title }}">
  <meta property="og:title" content="{{ title }} - {{ config.site_title }}">
  <meta property="og:description" content="{{ config.site_subtitle }}">
  <meta property="fb:app_id" content="{{ config.ogp_app_id }}">
  <meta property="og:locale" content="ja_JP" />
  {% endif %}

  {% if config.enable_twittercard %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ config.twitter_username }}">
  <meta name="twitter:title" content="{{ title }} - {{ config.site_title }}">
  <meta name="twitter:description" content="{{ config.site_subtitle }}">
  <meta name="twitter:image" content="">
  {% endif %}
{% endblock %}

{% block body %}
  <section class="entries clearfix">

    {% for entry in entries %}
    <div class="summary">
      <h2 class="summary__title"><a href="{{url_for('.entry', slug=entry.slug)}}">{{entry.title}}</a></h2>
      <div class="summary__info">
        <time class="summary__updated">{{entry.updated}}</time>
        {% if entry.category %}
        <span class="summary__category">{{'Category: {cat}'.format(cat=entry.category.name)}}</span>
        {% else %}
        <span class="summary__category">Category: None</span>
        {% endif %}
      </div>
      <p class="summary__body">{{entry.summary}}</p>
    </div>
    {% endfor %}

    <div class="paginate clearfix">
      {% import "_pagination.html" as p %}
      {% if pagination %}
      {{ p.pagination_widget(pagination,'.entries') }}
      {% endif %}
    </div>

  </section>

{% endblock %}
