extends "layout.jade"
block body
  article.content
    header.entries
      h2 Entries
    //- img(src="{{ url_for('img_static', filename='profile.jpg') }}")

    section.entries
      for entry in entries
        div.entry
          h2: a(href="{{url_for('.entry', slug=entry.slug)}}"){{entry.title}}
          p.summary {{entry.summary}}
          time.updated_at {{entry.updated_at}}
          if entry.category
            span.category {{'Category: {cat}'.format(cat=entry.category.name)}}
          else
            span.category Category: None
          endif

      div.pager
        if entries.has_prev
          a(href="{{ url_for('.entries', page=entries.prev_num) }}") << Newer posts
        else
          p << Newer
        endif
        if entries.has_next
          a(href="{{ url_for('.entries', page=entries.next_num) }}") Older posts >>
        else
          p Older >>
        endif
