{% extends "layout.html" %}

{% block body %}
  <section class="entries clearfix">

    {% for entry in entries %}
    <div class="summary">
      <h2 class="summary__title"><a href="{{url_for('.entry', slug=entry.slug)}}">{{entry.title}}</a></h2>
      <div class="summary__info">
        <time class="summary__updated">{{entry.updated}}</time>
        {% if entry.category %}
        <span class="summary__category">{{'Category: {cat}'.format(cat=entry.category.name)}}</span>
        {% else %}
        <span class="summary__category">Category: None</span>
        {% endif %}
      </div>
      <p class="summary__body">{{entry.summary}}</p>
    </div>
    {% endfor %}

    <div class="paginate clearfix">
      {% import "_pagination.html" as p %}
      {% if pagination %}
      {{ p.pagination_widget(pagination,'.entries') }}
      {% endif %}
    </div>

  </section>

{% endblock %}
