{% import 'admin/layout.html' as layout with context -%}
{% extends 'admin/admin_base.html' %}

{% block head_tail %}
  {{ super() }}
  <link rel="apple-touch-icon-precomposed apple-touch-icon" href="{{ url_for('img_static', filename='apple-touch-icon-precomposed.png') }}">
  <link rel="shortcut icon" href="{{ url_for('img_static', filename='favicon.ico') }}">
  <link href="{{ url_for('css_static', filename='admin.css') }}" rel="stylesheet">
{% endblock %}

{% block page_body %}
<div class="container">
  <div class="row">
    <div class="col-md-2" role="navigation">
      <ul class="nav nav-pills nav-stacked">
        <a href="#">{{ config.site_name }}</a>
	    {{ layout.menu() }}
	    {{ layout.menu_links() }}
      </ul>
    </div>
    <div class="col-md-10">
      <div id="content" class="row">
    	{% block brand %}
    	<h2 id="brand">{{ admin_view.name|capitalize }}</h2>
    	{% endblock %}
    	{{ layout.messages() }}

	{% set render_ctx = h.resolve_ctx() %}

        {% block body %}{% endblock %}
      </div>
     </div>
  </div>
</div>
{% endblock %}
