{% extends "admin/master.html" %}
{% import 'admin/lib.html' as lib with context %}}

{% macro extra() %}
<input class="btn btn-large" type="submit" name="_add_another" value="{{ _gettext('Save and Add') }}">
{% endmacro %}

{% block head %}
  {{ super() }}
  {{ lib.form_css() }}
{% endblock %}

{% block body %}
  {% block navlinks %}
    <ul class="nav nav-tabs">
      <li><a href="{{ return_url }}">{{ _gettext('List') }}</a></li>
      <li class="active"><a href="javascript:void(0)">{{ _gettext('Create') }}</a></li>
    </ul>
  {% endblock %}

  <h1>Upload Form</h1>
  <button id="addImageField">Add Field</button>
  <form class="form-horizontal" action="{{ url_for('.create_view') }}" method="post" role="form" enctype="multipart/form-data">
    <div id="imageFieldset">{{ lib.render_form_fields(form, form_opts=form_opts) }}</div>
    <div class="form-group" id="form-buttons">
      <div class="col-md-offset-2 col-md-10 submit-row">
        <input class="btn btn-primary" type="submit" value="{{ _gettext('Submit') }}">
        <input class="btn btn-large" type="submit" name="_add_another" value="{{ _gettext('Save and Add') }}">
        <a href="{{ return_url }}" class="btn btn-cancel" role="button">{{ _gettext('Cancel') }}</a>
      </div>
    </div>
  </form>

{% endblock %}

{% block tail %}
  {{ super() }}
  {{ lib.form_js() }}
  <script src="{{ url_for('js_static', filename='uploads.js') }}"></script>
{% endblock %}
