extends "admin/master.html"
{% import 'admin/lib.html' as lib with context %}

{% macro extra() %}
input(name="_add_another", type="submit", class="btn btn-large", value="{{ _gettext('Save and Add') }}")
{% endmacro %}

block head
    {{ super() }}
    {{ lib.form_css() }}

block body
    block navlinks
        ul.nav.nav-tabs
            li: a(href="{{ return_url }}") {{ _gettext('List') }}
            li.active: a(href="javascript:void(0)") {{ _gettext('Create') }}
    h1 Upload Form
    button#addImageField Add Field
    form(action="{{ url_for('.create_view') }}", method="POST", role="form", class="form-horizontal", enctype="multipart/form-data")
        div#imageFieldset
            {{ lib.render_form_fields(form, form_opts=form_opts) }}
        div.form-group#form-buttons
            div.col-md-offset-2.col-md-10.submit-row
                input(type="submit", class="btn btn-primary", value="{{ _gettext('Submit') }}")
                input(name="_add_another", type="submit", class="btn btn-large", value="{{ _gettext('Save and Add') }}")
                a(href="{{ return_url }}", class="btn btn-cancel", role="button") {{ _gettext('Cancel') }}


block tail
    {{ super() }}
    {{ lib.form_js() }}
    script(src="{{ url_for('js_static', filename='uploads.js') }}")
