//
// Entry
// --------------------------------------------------

.entry
  margin: 0 auto
  color: $color-black
  h1
    font-family: $font-webfont
    font-size: 26px
    margin: 50px 0 0
    padding: 10px 0 10px 18px
    background: #f5f5f5
    +media($medium-screen)
      font-size: 30px
  h2
    font-family: $font-webfont
    font-size: 24px
    margin: 60px 0 0
    padding: 10px 0 10px 18px
    background: #f5f5f5
  h3
    font-family: $font-webfont
    font-size: 22px
    margin: 30px 0 0
    padding: 10px 0 10px 18px
    border-bottom: 1px solid $border-color
  h4, h5, h6
    font-family: $font-webfont
    font-size: 20px
    margin: 30px 0 0
    padding: 10px 0 10px 18px

  p
    font-size: 14px
    margin: 20px 0 0
    line-height: 1.7em
    +media($small-screen)
      font-size: 17px
      padding: 0 18px

  img
    border: 1px solid #e0e0e0
    margin: 20px auto
    display: block
    +media($small-screen)
      max-width: 80%

  ul, ol, dl
    margin: 15px 0 0
    padding: 0 18px
  ul li
    font-size: 14px
    margin: 0 0 2px 15px
    list-style-type: disc
    +media($small-screen)
      font-size: 16px
      margin: 0 0 6px 45px
  ol li
    font-size: 14px
    margin: 0 0 2px 15px
    list-style-type: decimal
    +media($small-screen)
      font-size: 16px
      margin: 0 0 6px 45px
  dl dt
    font-size: 16px
  dl dd
    font-size: 14px
    margin: 0 0 0 2px

  code
    background: #f4f4f4
    margin: 15px 0 0
    padding: 3px 7px

  blockquote
    background: #f7f7f7
    margin: 15px 0 0
    padding: 30px 58px
  blockquote p
    margin: 0
  hr
    margin-right: 50%

.hljs
  padding: 10px 20px
  margin: 20px 0 0
  border: 1px solid $border-color
  font-size: 14px
