//
// Footer
// --------------------------------------------------

.footer
  margin: 30px auto 30px
  max-width: $medium-screen
  padding: 28px 28px 0
  +media($medium-screen)
    margin: 40px auto 40px
    padding: 10px 10px 0

.profile
  margin: 0 0 20px 0

.profile__img
  border: 1px solid #cccccc
  border-radius: 64px
  float: left

.profile__info
  padding: 0 0 0 80px

.profile__name
  font-size: 24px
  margin: 0 0 8px 0
  padding: 2px 0 0 0
  a
    color: $text-color

.profile__description
  padding: 0px 0 0 0
